body,
html {
  margin: 0;
  padding: 0;
}
.background {
  background-image: url(../images/background-nightsky.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
}
.container {
  padding-top: 80px;
  padding-bottom: 50px;
}
.app {
  border: 1px solid rgb(247, 202, 1);
  border-radius: 4px;
  background: transparent;
  margin: 0 auto;
  padding: 15px 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
  max-width: 700px;
}
.search {
  text-align: center;
  width: 100%;
}
#search-input {
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.445);
  border: 1px solid rgba(255, 255, 255, 0.603);
  border-radius: 4px;
  margin-bottom: 5px;
}
button {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
  margin-bottom: 5px;
}
.current-city {
  margin: 5px auto;
  font-family: "Courgette", cursive;
}
.city {
  color: rgb(247, 161, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
.date {
  font-size: 20px;
  color: rgb(35, 235, 235);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
hr {
  color: white;
}
h3 {
  font-size: 25px;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
.city-weather {
  text-align: center;
  color: rgb(255, 248, 149);
}
.city-weather .left {
  min-width: fit-content;
  margin-bottom: 5px;
}
.city-weather .temp-units {
  min-width: fit-content;
}
.city-weather .image {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.city-weather .temperature {
  position: relative;
  top: 20px;
  font-size: 40px;
  padding-top: 5px;
  margin-right: 5px;
}
.city-weather .unit {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.selected {
  font-weight: bolder;
  font-size: larger;
}
#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
  text-decoration: underline;
}
.city-weather .right {
  display: block;
  margin: 10px auto;
}
.forecast {
  border: 1px solid rgba(5, 5, 65, 0.25);
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.3);
  color: rgb(255, 244, 96);
}
.hour {
  text-align: center;
  border: 1px solid rgba(5, 5, 65, 0.25);
  border-radius: 4px;
  margin: 5px;
  padding-top: 5px;
  box-shadow: 3px 3px 3px rgba(6, 6, 31, 0.25);
  background: rgba(0, 0, 0, 0.5);
  min-width: fit-content;
}
.hour h4 {
  font-size: 20px;
}
.hour p {
  text-align: center;
}
.hour .image {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.hour .image img {
  height: 50px;
}
.city-weather .image {
  font-size: 50px;
}
.footer {
  color: rgb(255, 248, 149);
  display: block;
  text-align: center;
  margin: 0 auto;
}
.sara-git-link {
  color: rgb(255, 241, 52);
  text-decoration: none;
}
.sara-git-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
